.gameRoom .sidebar .roomDetails {
    display: flex;
    /* grid-area: roomDetails; */
    color: #fff;
    padding: 15px 30px;
    font-weight: 300;
    background-color: #a071a777;
    font-size: 1.5em;
    border-radius: 10px;
    align-items: center;
}

.roomDetails .roomName {
    width: 100%;
}

.roomDetails .roomName span {
    font-weight: bold;
    margin-left: 4px;
    font-size: 1.2em;
}

.roomDetails .roomControls {
    text-align: right;
    font-size: 0.8em;
    vertical-align: top;;
}

.roomDetails .roomControls a {
    text-decoration: none;
    cursor: pointer;
    background-color: #773B75;
    /* padding: 10px; */
    min-height: 60px;
    min-width: 60px;
    max-height: 60px;
    max-width: 60px;
    display: flex;
    position: relative;
    user-select: none;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px 50%;
    font-size: 1.2em;
    transition: background-color 0.4s, border-radius 0.6s;
}

.roomDetails .roomControls a:hover, .roomDetails .roomControls a:active {
    background-color: #4C1E4F;
    border-radius: 50% 5px;
}