
.Artists-content {
    display: flex;
    position: fixed;
    width: 60vw;
    max-width: 1100px;
    padding: 30px;
    height: auto    ;
    flex-flow: column wrap;
    background-color: rgb(114, 118, 173);
    transition: 0.5s;
}

.artist-info {
    display: flex;
    padding: 10px; 
    background-color: rgba(240, 248, 255);
    flex-direction: column;
    align-items: end;
    border-radius: 10px;
}

#artist-main {
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */
}

#artist-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-foto {
    width: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

.artist-description {
    font-size: 1.2em;
    margin-left: 30px;
    font-family: 'Montserrat';
}

.artist-instagram {
    color: #582957;
    font-size: 1.2em;
}

.be-part-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.212);
    margin-top: 1%;
    height: 10vh;
    border: 1px dashed #773b75;
    border-radius: 10px;
    font-size: 1.4em;
}
.be-part-text{
}