  form {
    width: 100%;
    max-width: 500px;
  }
  
  .joinOuterContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
    overflow: auto;
  }
  
  .joinInnerContainer {
    margin: 0 auto;
    padding: 5%;
    width: 40%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
  }

  .joinInnerContainer input {
    font-size: 1.7em;
    font-family: 'Satisfy';
    font-weight: 100;
    border-radius: 40px;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .button {
      color: #fff !important;
      text-decoration: none;
      background-color: #a071a7;
      padding: 20px;
      border-radius: 30px 5px;
      display: inline-block;
      border: none;
      width: 100%;
      cursor: pointer;
      font-size: 1.6em;
      font-family: 'Satisfy';
      transition: background-color 0.3s;
  }

  .header-loading {
    color: #fff;
    font: Satisfy;
    font-weight: 200;
    font-size: 2em;
  }

  .button-join:hover, .button-join:active {
    background-color: #773b75;
  }

  .button-join:active {
    position: relative;
    top: 1px
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }

  .wordartblues {
    font-family: 'Satisfy', sans-serif;
    font-size: 4em;
    font-weight: bold;

  }

  .wordartblues .text {
    font-family: 'Satisfy';
    color: #a071a7;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#a071a7,Strength=1);
    text-shadow: 0.05em -0.05em 0 #773b75;
    font-size: 2em;
  }