.chat-form {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
  
.chat-form .input {
  border: none;
  color: #222;
  border-radius: 30px;
  padding: 3px 10px;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  font-size: 1.1em;
  background-color: #EDEDED;
}
  
.chat-form input:focus, textarea:focus, select:focus{
  outline: none;
}
  
.chat-form .sendButton {
  color: #fff !important;
  text-decoration: none;
  background-color: #a071a7;
  display: inline-block;
  border: none;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  font-size: 1.6em;
  border-radius: 50%;
  transition: background-color 0.4s;
  cursor: pointer;
  margin-left: 10px
}

.chat-form .sendButton:hover {
  background-color: #773b75;
}

.chat-form.hide {
  display: none;
}