.chatMessage {
  font-size: 0.9em;
  opacity: 1;
  margin-bottom: 7px;
}

.chatMessage > * {
  margin-bottom: 4px;
}

.chatMessage .messageText {
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 20px 20px 20px 0px;
  display: inline-block;
  box-sizing: border-box;
  max-width: 80%;
  line-break: anywhere;
  text-align: left;
  
}

/* Mensagens do systema */
.chatMessage.systemMessage .messageText {
  background-color: #668a76;
  color: #fff;
}

/* Minhas proprias mensagens */
.chatMessage.myMessage .messageText {
  background-color: #773b75;
  color: #fff;
  border-radius: 20px 20px 0px 20px;
}
.chatMessage.myMessage {
  text-align: right;
}
.chatMessage.myMessage .userName {
  display: none;
}

/*  Mensagens de outros usuarios :) */
.chatMessage.otherMessage .messageText {
  background-color: #a071a7;
  color: #fff;
}

.chatMessage .messageText > * {
  vertical-align: middle;

}

.chatMessage .userName {
  color: #222;
  font-size: 0.8em;
  padding: 0 4px 4px 4px;
}

.chatMessage .userName > i {
  margin: 0 4px;
}