.gameRoom .sidebar .playerList {
    /* grid-area: playerList; */
    background-color: #B897BD55;
    max-height: 300px;
    min-height: 150px;
    height: 20vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 5px;
}

.playerList > table {
    width: 100%;
    font-size: 1.4em;
    font-family: 'Montserrat';
}

.playerList > table tr  {
    background-color: rgba(255, 255, 255, 0.1);
}
.playerList > table tr td {
    padding: 12px;
}

.playerList .player.thisIsMe .playerName {
    font-weight: normal;
}

.playerList .player.disconnected .playerName .name {
    opacity: 0.4;
}

.playerList .player .playerName .hostPlayerIcon {
    color: #ccde32;
}

.playerList .player .playerName .currentPlayerIcon {
    color: #90dab1;
    margin-right: 4px;
    margin-left: 0;
}
.playerList .player .playerName .sessionPlayerIcon {
    color: #898c8a;
}


/* ícones */
.playerList .player .playerName .fas {
    margin-left: 4px;
}
.playerList .player .playerScore {
    color:#fff;
    text-align: center;
}

.playerList .player .playerStatus {
    text-align: center;
    color: #fff;
}

.playerList .player .playerStatus.votingCard, .playerList .player .playerStatus.selectingCard {
    color: #37cbec;
}


.playerList .player .playerStatus.cardVoted, .playerList .player .playerStatus.cardSelected {
    color: #43d663;
}

.playerList .player .playerName .playerDisconnectedIcon { 
    animation: blinker 1.4s linear infinite;
  }
  
@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}